html, body {
	background-image: url("../images/wildflowers.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed !important;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
}

header {
	background-color: #ffffff;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	border-bottom-style: solid;
	border-width: 3px;
	border-color: #cccccc;
}

h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	width: 225px;
	margin: 0;
	margin-left: 50px;
	text-align: center;
	padding: 20px;
}

#nav {
	position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
    top: 30px;
    left: 600px;
}

li {
	display: inline;
}

li a {
	text-decoration: none;
    color: #777777;
    font-size: 125%;
    padding: 0 10px;
}

a:hover {
	color: #414142;
}

#main {
	position: absolute;
	background-color: #ffffff;
	width: 475px;
	height: 470px;
	margin: 0;
	padding: 10px;
	border: 2px solid #dddddd;
	top: 100px;
	left: 50px;
	overflow: auto;
}

h2 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
	font-size: 30px;
	text-align: left;
}

#portrait {
	width: 200px;
	height: 200px;
	margin: 0;
	margin-right: 18px;
	float: left;
}

p {
	line-height: 35px;
}

input[type="submit"] {
	clear: both;
    background-color: #4aaaa5;
    border: none;
    color: white;
    width: 30%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input {
	width: 93%;
	padding: 5px;
	margin: 5px;
}

textarea {
	width: 95%;
	height: 125px;
	margin: 5px;
	padding: 5px;
}

#portlist {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-gap: 30px;
    padding: 5px;
    margin: 10 0px;
}

#connect {
	position: absolute;
	width: 270px;
	height: 200px;
	padding: 10px;
	margin: 0;
	background-color: #ffffff;
	border: 2px solid #dddddd;
	top: 100px;
	left: 600px;
	text-align: center;
}

h3 {
	font-size: 25px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
}

#connect a {
	width: 75px;
	height: 75px;
	text-decoration: none;
}

#gitimg {
	width: 50px;
	height: 50px;
	padding: 10px;
}	

#linkedimg {
	width: 50px;
	height: 50px;
	padding: 10px;
}

#stackimg {
	width: 50px;
	height: 50px;
	padding: 10px;
}

footer {
	text-align: center;
	background-color: #666666;
	margin: 0;
	padding-top: 20px;
	border-top-style: solid;
	border-width: 10px;
	border-color: #4aaaa5;
}

footer, .push {
	height: 40px;
}


